.fullscreen {
  padding: 0 !important;
  margin: 0 !important;
}

.slick-slider {
  color: white;
}

.nav-arrows a {
  color: #002a5b;
  text-shadow: 0 0 3px #ffffff;
  margin-right: 1em;
}

.nav-arrows{
  position: relative;
  bottom: 0;
  display: flex;
}

.slide-active {
  background-color: #e5e5e7;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main-container {
  min-height: 100%;
  overflow: hidden;
}

body {
  font-size: 1.6em !important;
  line-height: 1.5em;
  color: #535454;
}

/**
 * Navbar page title
 */
.navbar-default .navbar-brand {
  color: #dd1e25;
}

.navbar-default .navbar-brand:hover {
  color: #9a151a;
}

body {
  font-size: 14px;
  line-height: 1.618rem;
  color: #535454;
  font-family: "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "Arial", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", sans-serif;
  font-weight: 300;
}

/**
 * Heading rules
 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

h1 {
  font-size: 35.6px;
  font-weight: normal;
  font-family: inherit;
  color: #002A5B;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  font-family: inherit;
}

h3 {
  font-size: 19.5px;
  font-weight: normal;
  font-family: inherit;
}

h4 {
  font-size: 19.5px;
  font-weight: normal;
  font-family: inherit;
}

/**
 * Hamburger menu
 */
.navbar-nav {
  margin: 0;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #dd1e25;
}

/**
 * Anchor tag rules
 */
a {
  color: #dd1e25;
  text-decoration: none;
}

a:hover {
  color: #9a151a;
  text-decoration: none;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-initialized .slick-slide {
  padding: 4em 3em 0;
}

.slide-title, .slide-description {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.home-tab-image{
  opacity: 0;
}

.animated{
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
}

.slick-current .slide-title, .slick-current .slide-description{
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.slick-current .slide-description {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.slide-1{
  background-image: url('images/slides_01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-2{
  background-image: url('images/slides_02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-3{
  background-image: url('images/slides_03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-4{
  background-image: url('images/slides_04.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-5{
  background-image: url('images/slides_05.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-button a {
  list-style-type: none;
  padding: 0.55em 1.2em;
  display: inline-block;
  background: #002A5B;
  color: #ffffff;
  border-bottom: none;
  width: 100%;
  line-height: 1.2em;
  border: 1px solid #ffffff;
  border-radius: 10px;
  text-shadow: none;
  margin-left: 1em;
}

.slider-button a:hover {
  background: #004a8c;
  margin-bottom: 0;
  color: #ffffff;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 10px;
}


.iceberg-cta-upper{
  padding-top: 4em;
}

@media screen and (max-width: 767px) {

  h2 {
    font-size: 25px;
    line-height: 40px;
  }

  h3 {
    font-size: 19px;
    line-height: 30px;
  }

  h4 {
    font-size: 16px;
    line-height: 26px;
  }

  body {
    font-size: 12px;
    line-height: 19px;
  }

  .btn {
    font-size: 12px;
    line-height: 19px;
  }
}

/* sm */
@media screen and (min-width: 768px) {

  h2 {
    font-size: 27px;
    line-height: 44px;
  }

  h3 {
    font-size: 21px;
    line-height: 34px;
  }

  h4 {
    font-size: 18px;
    line-height: 30px;
  }

  body {
    font-size: 14px;
    line-height: 23px;
  }

  .btn {
    font-size: 14px;
    line-height: 23px;
  }
}

/* md */
@media screen and (min-width: 992px) {

  h2 {
    font-size: 29px;
    line-height: 47px;
  }

  h3 {
    font-size: 22px;
    line-height: 37px;
  }

  h4 {
    font-size: 20px;
    line-height: 32px;
  }

  body {
    font-size: 16px;
    line-height: 26px;
  }

  .btn {
    font-size: 16px;
    line-height: 26px;
  }
}

/* lg */
@media screen and (min-width: 1200px) {

  h2 {
    font-size: 31px;
    line-height: 50px;
  }

  h3 {
    font-size: 24px;
    line-height: 40px;
  }

  h4 {
    font-size: 22px;
    line-height: 36px;
  }

  .lead {
    font-size: 22px;
    line-height: 36px;
  }

  body {
    font-size: 18px;
    line-height: 29px;
  }

  .btn {
    font-size: 18px;
    line-height: 29px;
  }

}


@-webkit-keyframes fadeIn{0%{opacity: 0;}100%{opacity: 1;}}
@keyframes fadeIn{0%{opacity: 0;}100%{opacity: 1;}}
