.fullscreen {
  padding: 0 !important;
  margin: 0 !important;
}

.slick-slider {
  color: white;
}

.nav-arrows a {
  color: #002a5b;
  text-shadow: 0 0 3px #ffffff;
}

.slide-active {
  background-color: #e5e5e7;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main-container {
  min-height: 100%;
  overflow: hidden;
}

body {
  font-size: 1.6em !important;
  line-height: 1.5em;
  color: #535454;
}

/**
 * Navbar page title
 */
.navbar-default .navbar-brand {
  color: #dd1e25;
}

.navbar-default .navbar-brand:hover {
  color: #9a151a;
}

/**
 * Heading rules
 */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5em;
}

h1 {
  font-size: 35.6px;
  font-weight: normal;
  font-family: inherit;
  color: #002A5B;
}

h2 {
  font-size: 1.5em;
  font-weight: normal;
  font-family: inherit;
}

h3 {
  font-size: 19.5px;
  font-weight: normal;
  font-family: inherit;
}

h4 {
  font-size: 19.5px;
  font-weight: normal;
  font-family: inherit;
}

/**
 * Hamburger menu
 */
.navbar-nav {
  margin: 0;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #dd1e25;
}

/**
 * Anchor tag rules
 */
a {
  color: #dd1e25;
  text-decoration: none;
}

a:hover {
  color: #9a151a;
  text-decoration: none;
}

.slick-track {
  display: flex;
  align-items: center;
}

.slick-initialized .slick-slide {
  /* padding between each item */
  padding: 0 35px;
}

.slide-title, .slide-description {
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
}

.home-tab-image{
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.slick-current .slide-title, .slick-current .slide-description, .slick-current .nav-arrows {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
  -webkit-animation-duration: .6s;
  animation-duration: .6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.slick-current .home-tab-image{
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInRight;
  animation: fadeInRight;
}

.slick-current .slide-description {
  -webkit-animation-delay: .8s;
  animation-delay: .8s;
}

.slick-current .nav-arrows {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.slide-1{
  background-image: url('images/slides_01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-2{
  background-image: url('images/slides_02.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-3{
  background-image: url('images/slides_03.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-4{
  background-image: url('images/slides_04.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-5{
  background-image: url('images/slides_05.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
